adf-process/PartialArmTemplates/ArmTemplate_12_10_2020_17_23_36.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-process"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Blob_Synapse_Copy_Activity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "@{'dataset-01'}//"
							},
							{
								"name": "Destination",
								"value": "dbo.@{concat('raw','tbl-dataset-01')}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 100,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "pii_name",
											"type": "String"
										},
										"sink": {
											"name": "pii_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "pii_email",
											"type": "String"
										},
										"sink": {
											"name": "pii_email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "pii_mobile",
											"type": "String"
										},
										"sink": {
											"name": "pii_mobile",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "attribute1",
											"type": "String"
										},
										"sink": {
											"name": "attribute1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "attribute2",
											"type": "String"
										},
										"sink": {
											"name": "attribute2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "attribute3",
											"type": "String"
										},
										"sink": {
											"name": "attribute3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "attribute4",
											"type": "String"
										},
										"sink": {
											"name": "attribute4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "attribute5",
											"type": "String"
										},
										"sink": {
											"name": "attribute5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "attribute6",
											"type": "String"
										},
										"sink": {
											"name": "attribute6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "attribute7",
											"type": "String"
										},
										"sink": {
											"name": "attribute7",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_Excel_Files",
								"type": "DatasetReference",
								"parameters": {
									"rawFolderName": "dataset-01",
									"workSheet": "Sheet1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSynapseAnalyticsTable",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "TblDataset01"
								}
							}
						]
					},
					{
						"name": "Convert_To_Parquet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Blob_Synapse_Copy_Activity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "@{'dataset-01'}//"
							},
							{
								"name": "Destination",
								"value": "processed//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "pii_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pii_name",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "pii_email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pii_email",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "pii_mobile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pii_mobile",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "attribute1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "attribute1",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "attribute2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "attribute2",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "attribute3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "attribute3",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "attribute4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "attribute4",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "attribute5",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "attribute5",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "attribute6",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "attribute6",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "attribute7",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "attribute7",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_Excel_Files",
								"type": "DatasetReference",
								"parameters": {
									"rawFolderName": "dataset-01",
									"workSheet": "Sheet1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Store_as_Parquet",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Convert_To_Parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Blob_Excel_Files",
								"type": "DatasetReference",
								"parameters": {
									"rawFolderName": "dataset-01",
									"workSheet": "Sheet1"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": "*.xlsx"
							}
						}
					}
				],
				"folder": {
					"name": "Pipeline-01"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Store_as_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Store_as_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageGen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "parquet",
						"fileSystem": "processed"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}