pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "UCI Machine Learning Data",
				"description": "Rest call",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data",
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Blob Data",
				"description": "rest call",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "UCI Machine Learning Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://ssattirajudemorgstg.blob.core.windows.net/raw/UCI_data",
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PUT",
					"body": {
						"value": "@activity('UCI Machine Learning Data').output.Response",
						"type": "Expression"
					},
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
						"username": "628106d6-3c99-4479-b647-b143b564b7f7",
						"resource": "https://management.azure.com/",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault1",
								"type": "LinkedServiceReference"
							},
							"secretName": "clientSecret"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Pipeline-01"
		},
		"annotations": []
	}
}