pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "UCI Machine Learning Data",
				"description": "Rest call",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data",
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Blob Data",
				"description": "rest call",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "UCI Machine Learning Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://ssattirajudemorgstg.blob.core.windows.net/raw?sp=rawl&st=2022-01-05T07:00:24Z&se=2022-02-05T15:29:24Z&spr=https&sv=2020-08-04&sr=c&sig=SPwwaXItlOvcASAKznY74FnOvSMmQP4RppzSBEHu4ak%3D",
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PUT",
					"headers": {
						"x-ms-blob-type": "PageBlob"
					},
					"body": {
						"value": "@activity('UCI Machine Learning Data').output.Response",
						"type": "Expression"
					},
					"linkedServices": [
						{
							"referenceName": "AzureDataLakeStorageDefault",
							"type": "LinkedServiceReference"
						}
					]
				}
			}
		],
		"folder": {
			"name": "Pipeline-01"
		},
		"annotations": []
	}
}